* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: black;
}

.wrapper {
    padding: 80px 50px;
}

header .wrapper {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header {
    background-color: black;
    width: 100%;
}


.primary-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    margin-bottom: 12px;
    text-align: right;
}


.primary-nav a {
    color: white;
    text-transform: uppercase;
}

.primary-nav a:hover {
    text-decoration: underline;
}
.primary-nav .active {
    text-decoration: underline;
}
#menuToggle input
{
  display: none;
}

.feature {
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center right;
    min-height: 100vh;
    display: flex;
}

.feature-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 10%;
}

.feature2 {
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center right;
    min-height: 60vh;
    display: flex;
}

.section1 {
    color: #2B315E;
}

.section1-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    text-align: center;
    align-items: end;
}
.top {
    text-align: center;
}

.img-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    align-items: center;
}
.img .topthings {
    max-height: 268;
}

.img-text--alternate {
    margin-top: 100px;
}

.img-text--alternate img {
    grid-column: 3;
}

.img-text--alternate div {
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}

footer {
    background-color: white;
    text-align: center;
    color: black;
}

.button {
    padding: 15px 30px;
    display: inline-block;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    margin-top: 20px;
}

.button-learnmore {
    border: 3px solid #fff;
    text-shadow: 0px 0px 20px rgb(194, 194, 194);
}

.button-learnmore:hover {
    background-color: rgb(194, 194, 194);
    color: white;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    
}

h2 {
    font-size: 32px;
    text-transform: none;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 18px 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: justify;
}

a:hover {
    color: #F3D9B5;
}
p {
    text-align: left;
}
.footertext {
    text-align: center;
    color: #232323;
}
.logo {
    font-size: 30px;
    text-align: justify;
}
.feature2text {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .feature {
     background-position: top center;   
    }
    .feature-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
    }
    .img-text {
        grid-template-columns: 1fr 2fr;
    }
    .img-text.img-text--alternate{
        grid-template-columns: 2fr 1fr;
    }
    
    .img-text--alternate img {
        grid-column: 2;
    }
    
    .img-text--alternate div {
        grid-row: 1;
        grid-column: 1;
    }
    
}


@media screen and (max-width: 900px) {
    
    .section1-grid {
        grid-template-columns: 1fr;
        grid-gap:20px; 
    }
        
    .footer-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }

    .footer-grid div:last-child {
        text-align: center;
    }
}

@media screen and (max-width: 817px) {
    .feature-grid {
        grid-template-columns: 1fr;
    }

    .section1-grid {
        grid-template-columns: 1fr;
        grid-gap:20px; 
    }
    
    .section1-grid .button {
        grid-column: span 1;

    }

    .img-text {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .img-text.img-text--alternate{
        grid-template-columns: 1fr;
    }
    
    .img-text--alternate img {
        grid-column: 1;
    }
    
    .img-text--alternate div {
        grid-row: 2;
        grid-column: 1;
        text-align: center;
    }
    /* Menu Starts here 
        Code Borrowed From: https://codepen.io/erikterwan/pen/EVzeRP
    */
    #menuToggle
{
  display: block;
  position: absolute;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input {
    display: block;
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.primary-nav ul {
    display: block;
}
.primary-nav {
    position: absolute;
    width: 100%;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: translate(-60%, 0);
}

}